<html>
<head>
    <title>Add MVC anv MVC Core services</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-gradient">
    <p class="alert alert-heading display-3">THis is a MVC application</p>
</body>
</html>